<div class="Login">
  <%= form_for @user do |f| %>
    <div class="form-group">
        <%= f.text_field :name, class: "form-control", placeholder:"Name" %>
      </div>

      <div class="form-group">
        <%= f.text_field :email, class: "form-control", placeholder:"Email" %>
      </div>

      <div class="form-group">
        <%= f.text_field :password, class: "form-control", placeholder:"Password" %>
      </div>

      <div class="form-group">
        <%= f.text_field :password_confirmation, class: "form-control",placeholder:"Password Confirmation" %>
      </div>
      <%= f.submit "Sign Up", class: "btn btn-primary" %>
  <% end %>
  </div>
</div>